<md-grid-list cols="1">
  <md-grid-tile [style.background]="'#FFC107'">
    <h1 class="md-display-2">
      ريادة الفخامة
    </h1>
  </md-grid-tile>
</md-grid-list>
<md-grid-list cols="2">
  <md-grid-tile>
    <img src="assets/polish-house1.jpg" [style.height]="'100%'" width="'100%'" class="md-push"/>
  </md-grid-tile>
  <md-grid-tile>
    <h1 class="md-headline">
      نصمم موقعك الإلكتروني
    </h1>
  </md-grid-tile>
</md-grid-list>
<md-grid-list cols="2">
  <md-grid-tile>
    <h1 class="md-headline">
      نطور برمجياتك المعقدة
    </h1>
  </md-grid-tile>
  <md-grid-tile>
    <img src="assets/db11.jpg" [style.height]="'100%'" width="'100%'" class="md-push" id="home"/>
  </md-grid-tile>
</md-grid-list>
<md-grid-list cols="2">
  <md-grid-tile>
    <img src="assets/icons.png" [style.height]="'100%'" width="'100%'" class="md-push"/>
  </md-grid-tile>
  <md-grid-tile>
    <h1 class="md-headline">
      نسوق لك منتجاتك
    </h1>
  </md-grid-tile>
</md-grid-list>
<md-grid-list cols="2">
  <md-grid-tile>
    <h1 class="md-headline">
      شكرا لإختيارك الأفضل
    </h1>
  </md-grid-tile>
  <md-grid-tile>
    <img src="assets/1_illustration.jpg" [style.height]="'100%'" width="'100%'" class="md-push" id="home"/>
  </md-grid-tile>
</md-grid-list>